@font-face {
  font-family: "PT_Root-UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/PT-Root-UI_Regular.woff2) format("woff2"),
    url(./fonts/PT-Root-UI_Regular.woff) format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT_Root-UI'";
  font-style: normal;
  src: url("fonts/PT-Root-UI_Bold.woff") format("woff");
}

html,
body {
  margin: 0;
  font-family: "PT_Root-UI", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 96px 80px;
  background-color: #ffffff;
  color: #0b1739;
}

h1 {
  height: 55px;
  text-align: left;
  align-items: left;
  font-size: 54px;
  line-height: 55px;
  background-color: #ffffff;

  padding-bottom: 48px;
  margin: 0;
  padding-top: 0;
}

.table {
  width: 801px;
  border-collapse: collapse;
}

th {
  
  text-align: left;
  font-weight: lighter;
  padding-bottom: 17px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

td {
  font-size: 16px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 80px;
  padding-top: 16px;
}

#sort_area {
  font-size: 16px;

  background: #fff;
  border:none;
  cursor: pointer;
  overflow: hidden;
  padding: .75em 2.25em .75em 1em;
  position: relative;
}

#sort_area:before,
#sort_area:after {
  border-style: solid;
  border-width: 10px 5px;
  border-color: transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 10px;
  width: 0;
}

#sort_area:before {
  border-bottom-color: #ccc;
  top: 0;
}

#sort_area:after {
  border-top-color: #ccc;
  bottom: 0;
}

.asc:before {
  border-bottom-color: #777;
}

.desc:after {
  border-top-color: #777;
}

.filters {
  margin-left: 80px;
  position: static;
  width: 399px;
  height: 372px;

  background: linear-gradient(
    135deg,
    rgba(174, 228, 178, 0.3) 0%,
    rgba(149, 208, 161, 0.3) 100%
  );
  border-radius: 10px;
}

.more_button {
  border: 1px solid rgba(11, 23, 57, 0.2);
  border-radius: 25px;
  padding: 8px 24px;
  background-color: white;
  width: 156px;
  height: 40px;
  font-size: 16px;
  font-family: "PT Root UI";
  margin-top: 56px;
}

.up_btn {
  display: block;
  position: fixed;

  font-size: 16px;
  opacity: 0.7;
  background: #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  width: 40px;
  height: 40px;
  background: #95d0a1;
  border-radius: 100px;
  border: none;
  right: 32px;
  bottom: 32px;
}

.up_btn::before {
  content: "\1F871";
  color: #fff;

}
.up_btn:after {

  font-size: 30px;
  display: inline-block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 10px;
}

.rooms_btn {
  margin-right: 16px;
  padding: 10px 12px;
  position: static;
  width: 44px;
  height: 44px;
  left: 0px;
  top: 0px;
  background-color: #ffffff;
  border-radius: 100px;
  border: none;
}

.rooms_btn:focus {
  background-color: #3eb57c;
  color: white;
  box-shadow: 0px 6px 20px #95d0a1;
}

.btns {
  font-size: 16px;
  font-family: "PT Root UI";
  margin-top: 40px;
  margin-left: 40px;
}

.reset {
  margin-top: 29px;
  margin-left: 56px;
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: inherit;
}

.filter_title {
  font-size: 14px;
  margin-top: 20px;
  margin-left: 40px;
}

.filters__slider {
  margin-top: 50px;
}

.noUi-target {
  background: #d1d1d1;
  border-radius: 100px;
  border: none;
  box-shadow: none;
  height: 3px;
  width: 319px;
  margin-left: 40px;
}

.noUi-connect {
  background-color: #3eb57c;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.noUi-handle {
  border-radius: 100%;
  background: #3eb57c;
  cursor: default;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  height: 14px;
  width: 14px;
  right: -13px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: none;
  border-radius: 3px;
  background: none;
  font-weight: bold;
}
