@import "scss/apartments";
@import "scss/buttons";
@import "scss/slider";
@import "scss/filters";
@import "scss/variables";


@font-face {
  font-family: "PT_Root-UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/PT-Root-UI_Regular.woff2) format("woff2"),
    url(./fonts/PT-Root-UI_Regular.woff) format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT_Root-UI";
  font-style: normal;
  src: url("fonts/PT-Root-UI_Bold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $text-color;
  font-family: $font-stack;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.main {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 96px 80px;
  }

}

@media (min-width: 960px) and (max-width: 1439px) {
  .main {
    &__container {
      padding: 48px 54px;
    }
  }
}
