<div>
  <table class="table">
    <caption>
      <h1> {{title}}</h1>
    </caption>
    <colgroup>
      <col width="60" valign="top" />
      <col width="250" valign="top" style="font-weight: bold" />
      <col width="100" valign="top" />
      <col width="100" valign="top" />
      <col width="100" valign="top" />
    </colgroup>
    <thead>
      <tr>
        <th>Планировка</th>
        <th>Квартира</th>
        <th>S,м +</th>
        <th>Этаж +</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Данные с json -->
        <!-- {{author}} -->
        <td>Картинка1</td>
        <td style="font-weight: bold">3-комнатная</td>
        <td>63.1</td>
        <td>1 <span style="opacity: 0.5">из 17</span></td>
        <td>6 630 500</td>
      </tr>
    </tbody>
  </table>

  <button class="btn">Загрузить еще</button>
</div>

